@model IEnumerable<TheLoai>

<li class="nav-item dropdown">
    <a class="nav-link parent dropdown-toggle" href="/collections/all" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Thể loại
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
            <li>
                <a class="dropdown-item"
                   asp-area="Customer"
                   asp-controller="Home"
                   asp-action="FilterByTheLoai"
                   asp-route-id="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>
</li>
