@model BaiKiemTra02.Models.LopHoc

<h2>Chỉnh sửa lớp học</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="TenLopHoc">Tên Lớp Học</label>
        <input type="text" class="form-control" id="TenLopHoc" name="TenLopHoc" value="@Model.TenLopHoc" />
    </div>
    <div class="form-group">
        <label for="NamNhapHoc">Năm Nhập Học</label>
        <input type="number" class="form-control" id="NamNhapHoc" name="NamNhapHoc" value="@Model.NamNhapHoc" />
    </div>
    <div class="form-group">
        <label for="NamRaTruong">Năm Ra Trường</label>
        <input type="number" class="form-control" id="NamRaTruong" name="NamRaTruong" value="@Model.NamRaTruong" />
    </div>
    <div class="form-group">
        <label for="SoLuongSinhVien">Số Lượng Sinh Viên</label>
        <input type="number" class="form-control" id="SoLuongSinhVien" name="SoLuongSinhVien" value="@Model.SoLuongSinhVien" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
</form>

<a asp-action="Index">Trở về danh sách</a>
