@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 style="color: red">Hello World!, I am Mr.QuangPig</h2>
    <hr />
    @for (int i = 1; i <= 10; i++)
    {
        <h3>Bảng Cửu chương</h3>
        <ul>
            @for (int j = 1; j <= 10; j++)
            {
                <li>@i x @j = @(i * j)</li>
            }
        </ul>
        <hr />
    }
</div>
