@model SanPhamViewModel

<h2>Thông tin sản phẩm</h2>

<div>
    <h3>@Model.TenSanPham</h3>
    <p>Giá bán: @Model.GiaBan VND</p>
    <img src="@Model.AnhMoTa" alt="@Model.TenSanPham" style="width:300px; height:auto;" />
</div>
