@model BaiKiemTra03_04.Models.Supplier

@{
    ViewData["Title"] = "Delete Supplier";
}

<h2>Delete Supplier</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Supplier ID</dt>
        <dd class="col-sm-10">@Model.SupplierId</dd>

        <dt class="col-sm-2">Supplier Name</dt>
        <dd class="col-sm-10">@Model.SupplierName</dd>

        <dt class="col-sm-2">Contact Info</dt>
        <dd class="col-sm-10">@Model.ContactInfo</dd>
    </dl>
</div>

<div>
    <h4>Are you sure you want to delete this supplier?</h4>
</div>

<div>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="SupplierId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>
